.nav-item {
  color: #fff;
  text-decoration: none;
  margin-right: 1vw;
}

.nav-item.active {
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.navbar {
  border: none;
  font-size: 24px;
}

.navbar-nav {
  flex-direction: row;
  margin-left: 14vw;
}
